@media (max-width: 991px) {
    .container {
        max-width: 90%;
    }
    .services {
        &__item {
            max-width: 200px;
        }
    }
    .portfolio {
        padding-top: 50px;
        &__item {
            align-items: center;
        }
        &__descr {
            width: 40%;
        }
        &__img{
            width: 50%;
        }
    }
    .contacts {
        &__descr {
            margin-top: 30px;
        }
    }
}
@media (max-width: 767px) {
    .promo {
        min-height: 100vh;
        &__contacts {
            top: 90vh;
        }
    }
    .header {
        &__nav{
            margin-left: 150px;
        }
        &__title {
            top: 250px;
            font-size: 100px;
        }
        &__subtitle {
            top: 370px;
        }
        &__social {
            height: 300px;
        }
    }
    .about {
        padding: 200px 0 80px 0;
        &__img {
            width: 50%;
        }
        &__descr {
            margin-left:80px;
            width: 40%;
        }
    }
    .services {
        &__item {
            max-width: 23%;
        }
        &__icon{
            width: 90%;
        }
        &__descr {
            font-size: 18px;
            line-height: 22px;
        }
    }
    .portfolio {
        min-height: 220vw;
        padding: 50px 0;
        &__item {
            margin-top: 20px;
        }
        &__subtitle {
            margin: 20px 0;
        }
        &__descr {
            font-size: 19px;
            line-height: 25px;
        }
    }
    .contacts {
        &__address {
            margin-top: 30px;
        }
    }
    .footer {
        &__logo {
            top: -50px;
            width: 110px;
        }
        &__nav {
            width: 50vw;
            a {
                font-size: 23px;
            }
        }
    }
}
@media (max-width: 575px) {
    .promo {
        &__contacts {
            display: none;
        }
        // &__or {
        //     font-size: 20px;
        //     margin: 0 10px;
        // }
        // &__form{
        //     width: 45%;
        // }
        // &__call {
        //     padding: 0;
        //     top: 25%;
        //     width: 40%;
        //     a {
        //         display: block;
        //         text-align: center;
        //         transform: translateY(50%);
        //         font-size: 25px;
        //         margin: 0 auto;
        //     }
        // }
    }
    .header{
        &__social {
            display: none;
        }
        &__title {
            top: 200px;
            font-size: 60px;
        }
        &__subtitle {
            top: 300px;
            font-size: 50px;
            text-align: right;
        }
        &__nav{
            position: fixed;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            top: 0;
            left: -100%;
            width: 50%;
            height: 70vh;
            padding: 15px;
            background-color: rgba(47,148, 68, 0.8);
            margin-left: 0;
            transition: 0.6s all;
            &_active {
                left: 0;
            }
            a {
                padding-right: 0;
                margin-top: 10px;
                font-size: 25px;
            }
        }
        
        .hamburger {
            display: block;
            position: absolute;
            right: 10px;
            top: 40px;
            width: 30px;
            height: 24px;
            span {
                display: block;
                height: 3px;
                width: 100%;
                background-color: $main-color;
                margin-bottom: 5px;
                box-shadow: 0 0 2px #fff;
                transition: 0.5s all;
            }
            &_active{
                span {
                    margin-bottom: -2px;
                    &:nth-child(1){
                        transform: translateY(3px) rotate(-45deg);
                    }
                    &:nth-child(2){
                        display: none;
                    }
                    &:nth-child(3){
                        transform: translateY(3px) rotate(45deg);
                    }
                }
            }
        }
    }
    .about {
        padding: 25px 0;
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        min-height: 100vh;
        .container {
            flex-direction: column;;
        }
        &__descr {
            margin: 25px 0;
            width: 80%;
        }
    }
    .title {
        font-size: 30px;
    }
    .services{
        &__wrapper {
            flex-direction: column;
        }
        &__item {
           max-width: 100%;
           margin-bottom: 10px;
        }
        &__icon {
            width: 40%;
        }
        &__subtitle {
            font-size: 18px;
        }
        &__descr {
            margin-top: 20px;
        }
    }
    .portfolio {
        &__item {
            flex-direction: column;
        }
        &__item:nth-child(odd) {
            flex-direction: column-reverse;
        }
        &__descr {
            width: 95%;
            text-align: center;
        }
        &__more {
            margin: 10px 0;
            font-size: 19px;
        }
    }
    .contacts {
        font-size: 20px;
        &__call {
            width: 60vw;
            height: 60px;
            padding: 0;
            a {
                line-height: 60px;
            }
        }
        &__wrapper {
            flex-direction: column;
            padding-left: 10px;
            margin-bottom: 15px;
        }
        &__half {
            width: 100%;
        }
        &__form {
            padding-left: 15px;
            width: 95%;
            input,textarea {
                width: 90%;
            }
            input:last-of-type{
                margin-bottom: 25px;  
              }
        }
    }
    
    .radio {
        &_green {
            &+label {
                font-size: 18px;
                line-height: 18px;
            }
        }
    }
    .footer {
        &__logo {
            top: 0px;
            left: -15px;
        }
        &__nav {
            flex-direction: column;
            text-align: center;
            margin-left: 30%;
            a{
                font-size: 25px;
                line-height: 30px;
            }
        }
        &__social {
            width: 40vw;
        }
    }
}
@media (max-width: 320px) {
    .footer {
        padding-top: 40px;

        &__logo {
            top: -20px;
        }
        &__social {
            width: 80vw;
        }
    }
}