@import "libs/bootstrap-reboot.min";
@import "libs/fonts";
@import "base/variables";

* {
    font-family: 'Harmattan', sans-serif;
    color: $grey;
}

.container {
    position: relative;
    max-width: 1120px;
    margin: 0 auto;
}

@import "blocks/promo";
@import "blocks/header";
@import "blocks/buttons";
@import "blocks/titles";
@import "blocks/about";
@import "blocks/services";
@import "blocks/portfolio";
