@import "libs/bootstrap-reboot.min";
@import "libs/fonts";
@import "base/variables";

* {
    font-family: 'Harmattan', sans-serif;
    font-size: 22px;
    color: $grey;
}

html {
    scroll-behavior: smooth;
}

.container {
    position: relative;
    max-width: 1120px;
    margin: 0 auto;
}

@import "blocks/promo";
@import "blocks/header";
@import "blocks/buttons";
@import "blocks/titles";
@import "blocks/about";
@import "blocks/services";
@import "blocks/portfolio";
@import "blocks/contacts";
@import "blocks/radio";
@import "blocks/footer";

@import "base/media";