.about {
    min-height: 700px;
    padding: 125px 0;
    font-weight: normal;
    line-height: 30px;
    .container {
        display: flex;
        align-items: center;
    }
    &__img {
        border-radius: 50%;
        box-shadow: 0 0 60px $main-color;
       
    }
    &__descr {
        width: 392px;
        margin-left: 141px;
    }
}