.portfolio {
    padding: 100px 0;
    min-height: 2366px;
    &__wrapper {
        display: flex;
        flex-direction: column;
    }
    &__item {
        display: flex;
        justify-content: space-between;
        margin-top: 62px;
    }
    &__subtitle {
        display: block;
        margin-bottom: 45px;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 700;
        text-transform: uppercase;
        margin-top: 65px;
    }
    &__descr {
        width: 522px;
        font-family: 'Harmattan', sans-serif;
        font-size: 20px;
        line-height: 33px;
    }
    &__img {
        border-radius: 50%;
        box-shadow: 0 0 60px $main-color;
        width: 470px;
       }
    &__more {
        display: block;
        margin-top: 22px;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        color: $grey;
        text-decoration: underline;
        &:hover {
            color: $main-color
        }
    }

}